@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tondu-Beta';
  src: url('./assets/fonts/Tondu-Beta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Tondu-Beta', system-ui, sans-serif;
}


/* Custom scrollbar for leaderboard */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}
